.bg-input {
  background: linear-gradient(45deg, rgb(46, 44, 45), transparent),
    linear-gradient(-45deg, rgb(98, 119, 129), transparent);
  background-size: 100% 100%;
  animation: gradient-animation 4s infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }
}
